@model BanHangNetCoreNhom123.Models.TaiKhoan

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Layout/Admin/Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TaiKhoan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenTaiKhoan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenTaiKhoan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnhDaiDien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnhDaiDien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DangHoatDong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DangHoatDong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaPhanQuyenNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaPhanQuyenNavigation.MaPhanQuyen)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaTaiKhoan">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
